In [1]:
# import libraries
import pandas as pd

In [3]:
# load dataset in Pandas DataFrame
file_path = "Resources/WHR.csv"
whr_df = pd.read_csv(file_path)
whr_df.head()

,country,year,happinessrank,happinessscore,gdp,family,lifeexpectancy,freedom,trust,generosity
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [4]:
# What data is available
whr_df.columns

Index(['country', 'year', 'happinessrank', 'happinessscore', 'gdp', 'family',
       'lifeexpectancy', 'freedom', 'trust', 'generosity'],
      dtype='object')

In [6]:
# What type of data is available 
# All columns we plan to use must contain a numerical data type
whr_df.dtypes

country            object
year                int64
happinessrank       int64
happinessscore    float64
gdp               float64
family            float64
lifeexpectancy    float64
freedom           float64
trust             float64
generosity        float64
dtype: object

In [8]:
# What data is missing 
# Unsupervised learning models can't handle missing data 
# Find null values
for column in whr_df.columns:
    print(f"Column {column} has {whr_df[column].isnull().sum()} null values")

# Can the data be removed? Consider: Are there string columns that we can't use?
# Are there columns with excessive null data points? 
# Was our decision to handle missing values to just remove them?

# Decision: there are no string type columns, and we made the decision that 
# only a few rows have null data points, but not enough to remove a whole column's worth.

Column country has 0 null values
Column year has 0 null values
Column happinessrank has 0 null values
Column happinessscore has 0 null values
Column gdp has 0 null values
Column family has 0 null values
Column lifeexpectancy has 0 null values
Column freedom has 0 null values
Column trust has 0 null values
Column generosity has 0 null values

In [9]:
# Find duplicate entries
print(f"Duplicate entries: {whr_df.duplicated().sum()}")

Duplicate entries: 0